//font-family
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
$font-family: 'Open Sans';

//color scheme
$background-light:#089DE0;
$background-medium:#04F7E2;
$background-dark:#0A308A;

//Accent
$light-accent:#09FC1B;
$dark-accent:#08E073;

//text-colors
$light-text:#c8c8c8;
$medium-text:#989597;
$dark-text:rgb(57, 57, 57);
